// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//MATERIAL DESIGN ICON FONT OVERRIDES
$zmdi-font-path: "../../fonts" !default;
$zmdi-font-name: "Material-Design-Iconic-Font" !default;
$btn-border-radius: 0;
$input-border-radius: 0;


//BOOTSTRAP OVERRIDES
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 1200px,
  md: 1200px,
  lg: 1200px,
  xl: 1200px
) !default;
